# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.bower_components/

# React Native
*.keystore
*.iml
*.hprof
*.jks

# Xcode
ios/Pods/
ios/build/
ios/DerivedData/
xcuserdata/
*.xcworkspace
!default.xcworkspace
*.pbxuser
!Podfile
!Podfile.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/app/*.keystore
android/app/*.jks
*.apk
*.aab

# Watchman
.watchmanconfig

# Bundler
*.bundle

# TypeScript
*.tsbuildinfo

# Expo
.expo/
.expo-shared/

# IDEs and text editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store
Thumbs.db
